form.formParent {
    vertical-align: middle;
    text-align: left;
}
    form.formParent.mobile {
        vertical-align: middle;
        text-align: center;
    }

input[type=text].formText {
    background-color: var(--dark-color);
    font-family: 'Raleway';
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    color: white;
    padding: 15px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    width: 75%;
    border-radius: 5px;
    transition: 0.2s ease-out box-shadow;
}
    input[type=text].formText.mobile {
        width: 85%;
    }
    input[type=text].formText:focus {
        box-shadow: 0px 0px 10px var(--dark-color);
    }

    /**/
textarea.formTextarea {
    background-color: var(--dark-color);
    font-family: 'Raleway';
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    color: white;
    padding: 15px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    width: 75%;
    border-radius: 5px;
    transition: 0.2s ease-out box-shadow;
}
    textarea.formTextarea:focus {
        box-shadow: 0px 0px 10px var(--dark-color);
    }
    textarea.formTextarea.mobile {
        width: 85%;
    }